body {
  background-color: #f7f7f7;
  background-image: url('/assets/images/diamond_upholstery.png');
}
header {
  padding: 1rem;
}

.site-title {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}
.site-logo {
  padding: 2em 0;
}
.site-header .contact {
  display: flex;
  justify-content: flex-end;
  padding: 1em 0;
}

.site-header .contact a {
  background-color: #fff;
  border-radius: 2em;
  border: 2px solid transparent;
  padding: .5em 1em;
  margin: .5em 1em;
  color: $mainBrown;
  text-decoration: none;
  transition: .3s border ease-in-out;
}
.site-header .contact a:hover {
  border-color: $mainBrown;
}
.site-header .contact .phone a:before {
  content: "tel";
  display: inline;
  padding-right: .5em;
  margin-right: .5em;
  border-right: 1px solid $lightGrey;
}

.menu--primary {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.menu--primary a {
  display: block;
  padding: .3em .6em;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
  color: #333;
  text-align: center;
  transition: .3s all ease-in-out;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
}

.menu--primary a:hover {
  //background-color: #ccc;
  border-bottom: 3px solid $mainBrown;
}

.panel--intro {
}
